.addTaskButton {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: 50px;
}

.addPersonalNoteButton {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 600px;
  right: 50px;
}

.editTaskButton {
  background-color: yellow;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: 50px;
}

.deleteTaskButton {
  background-color: red;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: 130px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: lightblue;
  border-radius: 4px;
  padding: 16px;
  width: 400px;
  max-width: 90%;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.formFieldTextDisplay {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  height: 5em;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
}

.cancelButton {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tableContainer {
  width: 100%;
  border-collapse: collapse;
}

.tableContainerForPersonalNotes {
  width: 1400px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.tableHeader {
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
}

.tableCell {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
}

.tableCellForPersonalNote {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
}

.tableCellForPersonalNote:first-child {
  width: 20%;
}

.tableCellForPersonalNote:nth-child(2) {
  width: 15%;
}

.tableCellForPersonalNote:nth-child(3) {
  width: 15%;
}

.tableCellForPersonalNote:nth-child(4) {
  width: 50%;
}

.tableCell:first-child {
  width: 25%;
  color: blue;
}

.tableCell:nth-child(2) {
  width: 25%;
}

.tableCell:nth-child(3) {
  width: 25%;
}

.tableCell:nth-child(4) {
  width: 25%;
}

.tableCellSingleTask {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
}

.tableCellSingleTask:first-child {
  width: 50%;
}

.tableCellSingleTask:nth-child(2) {
  width: 50%;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}